<div class="container">
    <h2>Account Stat</h2>
    <form (ngSubmit)="onSubmit()" #usernameForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                   required
                   [(ngModel)]="username" name="username">
          </div>

        <button type="reset" class="btn btn-secondary mr-1" (click)="onClear()" >Clear</button>
        <button type="submit" class="btn btn-success" [disabled]="!usernameForm.form.valid">Search</button>
        <div class="alert alert-danger mt-1" role="alert" *ngIf="error">
            <em>Failed to load data: {{error}}</em>
        </div>
    </form>
    
    <hr/>
    <div class="contailner " *ngIf="loading">
        Loading data...
    </div>

    <app-stat-list [statList]="loadedStats"></app-stat-list>
</div>