<mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let stat of statList">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{stat.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{stat.battleCount}}/{{stat.winCount}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tank Name</th>
                        <th>Battcle Count</th>
                        <th>Win Count</th>
                        <th>Win Ratio</th>
                        <th>Wins To Desired Percent</th>
                        <th>Badge</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ stat.name }}</td>
                    <td>{{ stat.battleCount }}</td>
                    <td>{{ stat.winCount }}</td>
                    <td>{{ stat.winRatio }}</td>
                    <td>{{ stat.winsToDesiredPercent }}</td>
                    <td>{{ stat.badge | badge }}</td>
                </tbody>
            </table>
        </div>
        <div class="container">
            <hr/>
            todo: graph
        </div>

    </mat-expansion-panel>
</mat-accordion>