<div class="container mt-3">
    <h2>WotStat v1.0</h2>
    <h4>About</h4>
    <p>This service is designed to help WoT players to increase their general winrate.
        The main idea is to show user tanks with negative win ratio so that they can clearly
        see which vechiles they have to <a href="https://knowyourmeme.com/memes/git-gud">git gud</a> on.
        This service also allows user to observe the estimation graph of how fast they can achieve a
        desired win rate based on winratio of future matches.
    </p>
    <h4>References</h4>
    <ul>
        <li id="the-desired-percent">
            The desired percent/winrate &#8210; (in WoT context) is a 50% general winrate which gives you permission to
            treat youself as a pro player (assuming you have 5k+ battles). Usually is required to enter a clan.
        </li>
    </ul>

    <p>Source code can be found <a href="https://github.com/Kampotyk/WoTStat">here</a></p>
</div>